.container {
  flex: 1;
  // justify-content: center;
  // align-items: center;
}

.loginFormLogo {
  width: 100px;
  height: 40px;
  margin-bottom: 10px;
  align-self: center;
}

.loginForm {
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 20px;
  padding-top: 10;
  padding-bottom: 20;
  background-color: rgba(0, 0, 0, 0.7);
}

.formLabel {
  text-align: left;
  align-self: flex-start;
  margin-top: 10px;
  color: #aaa;
}

.formInput {
  width: 100%;
  color: white;
  background-color: transparent;
  border: none;
  border-top-width: 0;
  border-bottom-color: #ddd;
  border-bottom-width: 1px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  height: 40px;
  padding-left: 0;
  font-size: 14px;
  margin-bottom: 10px;
}

.textLeft {
  text-align: left;
  align-self: flex-start;
}

.textRight {
  text-align: right;
  align-self: flex-end;
}

.textCenter {
  text-align: center;
  align-self: center;
}

.textBold {
  font-weight: bold;
}
.round {
  border-radius: 50%;
}
.bgRed {
  background-color: #f32322;
}

.bgOrange {
  background-color: #d65a38;
}

.bgBlue {
  background-color: #1e32fa;
}
.bgFacebook {
  background-color: #3b5999;
}
.bgPinterest {
  background-color: #bd081c;
}
.btnPrimary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc;
}
.btnPrimary {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
